.important{width: 40%;
           float: right;
           padding: 30px;
           border: 8px;
           margin: 8px;
           scroll-behavior: smooth;
           height: auto;
}
.sidebar{
         width: 40%;
         float: right;
         padding: 30px;
         border: 8px;
         margin: 8px;
}
img{size:10px;
  float: left;
}
body{
     background-color: white;
     font-family: sans-serif;
     line-height: inherit;
}
h1 {color: #0382aa;
    text-align: center;
    font-style: italic;
    font-size: 18
}
.sidebar h2 {color: #03beca;
    font-style: normal;
    text-align: center;
    font-size: 14
}
p {font-family: cursive;
  font-size: 13
}
ul {color: Green;
    line-height: inherit;
    font-size: 11
}
ol{color: brown;
  line-height: inherit;
  font-size: 11
}
