.important{width: 40%;
           float: right;
           padding: 30px;
           border: 6px;
           margin: 8px;
           scroll-behavior: smooth;
           height: auto;
}
.sidebar{background-color: 	#00CED1;
         width: 40%;
         float: right;
         padding: 30px;
         border: 6px;
         margin: 8px;
}
.line1{align-text: centre;
       font-size:26;
}

.image{margin: auto;
       width: 60%;
       border: 3px;
       padding: 10px;
}
img{width: 750px;
    height: 200px;
}
body{
  background-image:
  url(file:///Users/asma/Desktop/moringa-school-projects/portofolio/images/plantbchem.jpeg);
  background-repeat:no-repeat;

}
h1 {color: #0382aa;
    text-align: center;
    font-style: italic;
    font-size: 18;
}
h2 {color: #03beca;
    text-align: center;
    font-size: 15;
}
h3 {color: #c48430;
    text-decoration: underline;
    text-align: center;
    font-size: 14;

p {font-style: italic;
   font-size: 12;
   color: #4e4801
}
ul {color: Green;
    line-height: inherit;
    font-size: 11;
}
ol{color: brown;
  line-height: inherit;
  font-size: 11;
}
